Package: sonos
Version: 0.2.0
Replaces: sonos
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Markus Haldorsen <markus@futurehome.no>
Description: Sonos adapter for futurehome system  
