[Unit]
Description=sonos

[Service]
Type=simple
ExecStart=/opt/thingsplex/sonos/sonos
User=sonos
WorkingDirectory=/opt/thingsplex/sonos
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target